
@import './variables';
@import 'form';
@import 'button';
@import 'flash';
@import 'profile';
@import 'article';
@import 'comment';
@import 'follow';
@import 'tabs';


html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.7;
}

.container {

    padding: 0 16px;
    width: 100%;
}

.page-header {
    text-align: center;
    position: relative;
    margin-top: 46px;
    font-size: 16px;
    color: #333A42;
}

.back-btn {
    position: fixed;
    top: 50px;
    left: 17px;
    
}

.hidden {
    display: none;
}

.header-logout {
    position: fixed;
    z-index: 20;
    top: 60px;
    right: 40px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    border-radius: 80px;
    background-color: $usublue-bgc;
    display: block;
    // padding: 10px 0;
    a {
        
        display: block;
        padding: 10px 15px;
    }

}

input.devise-feild {
    padding:  10px 8px;
}
